<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chemical Fertilizer Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter@3.15.4/css/inter.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Judson&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Julee&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <img class="svg" src="/static/images/Rectangle.png" alt="SVG image" />
        <header>
            <img class="logo" src="/static/images/logo.png" alt="AgroZ Logo" />

            <div class="navbar">
                <a href="/recommendation"><i class="fa-solid fa-arrow-left"></i></a>
              </div>
        </header>

        <h1 style="font-size: 30px;margin-bottom: 20px;margin-top: -50px;">CROP</h1>
        <div class="conall" style="width: 1100px;margin-left: 200px;height: 500px;">
          <div class="onecon" style="padding: 20px;">
            <img src="/static/images/ChemicalFertilizer.jpg" alt="Description" style="width:400px;height: 440px;" />
          </div>
          <div class="twocon" style="width: 50%;">
                <form action="/predictChemicalFertilizer" method="post" style="margin-left: -120px;">
                    <br><br>
                    <label for="N" style="margin-left: 100px;">Nitrogen (N)</label><br>
                    <input type="text" name="N" required style="width: 60%;"/><br><br>

                    <label for="P" style="margin-left: 100px;">Phosphorus (P)</label><br>
                    <input type="text" name="P" required style="width: 60%;"/><br><br>

                    <label for="K" style="margin-left: 100px;" >Potassium (K)</label><br>
                    <input type="text" name="K" required style="width: 60%;"/><br><br>

                    <label for="Crop" style="margin-left: 100px;">Select Crop</label><br><br>
                    <select id="Crop" name="Crop" required style="width: 60%;height: 35px;border-color: rgb(228, 225, 225);">
                        <option>Sugarcane</option>
                        <option>Jowar</option>
                        <option>Cotton</option>
                        <option>Rice</option>
                        <option>Wheat</option>
                        <option>Groundnut</option>
                        <option>Maize</option>
                        <option>Tur</option>
                        <option>Urad</option>
                        <option>Moong</option>
                        <option>Gram</option>
                        <option>Masoor</option>
                        <option>Ginger</option>
                        <option>Turmeric</option>
                        <option>Grapes</option>
                    </select>
                    <br /><br /><br>

                    <button type="submit" value="Predict" style="width: 180px;">
                        Get Recommendation
                    </button>
                </form>
                </div>
                </div>

                <footer>
                    &copy; 2024 AgroZ | Empowering Farmers for a Sustainable Tomorrow
                    <br />
                    <a href="#">Contact Us</a> | <a href="#">Privacy Policy</a> |
                    <a href="#">Terms of Service</a>
                </footer>
            </div>
        </div>
        <script src="/static/js/script.js" defer></script>
    </div>
</body>

</html>