<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Farmer Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" />
</head>

<body>
  <div class="container">
    <img class="svg" src="/static/images/Rectangle.png" alt="SVG image" />
    <header>
      <img class="logo" src="/static/images/logo.png" alt="AgroZ Logo" />

      <div class="navbar">
        <a href="/Home">HOME</a>
        <a href="/Add_NewFarmer">NEW FARMER</a>
        <a href="/Farmer_List" class="active">FARMER LIST</a>
        <a href="/logoutFarmer">LOGOUT</a>
      </div>
    </header>

    <h1 class="signup-login">FARMER LOGIN</h1>
    <img src="/static/images/signup_login.png" alt="Description of the image" />

    <div class="signup-login_container">
      <form method="post" action="{{ url_for('login_farmer', farmer_id=farmer_id) }}">
        <input type="text" name="aadhaar_no" placeholder="Aadhaar No" required />

        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        <br />
        {% endif %}
        <br />

        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</body>

</html>